In [45]:
import pandas as pd
import requests

requisitions = requests.get('https://pt.wikipedia.org/wiki/Campeonato_Italiano_de_Futebol_de_2023–24_–_Primeira_Divisão')

tables = pd.read_html(requisitions.text)
leaderboard = tables[8]
games_list = tables[11] 
display(leaderboard)
display(games_list)
#display(tables)

C:\Users\stiag\AppData\Local\Temp\ipykernel_9496\1187460326.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(requisitions.text)

,Pos,Equipe,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Internazionale,38,15,12,2,1,37,7,+30,Fase de Grupos da Liga dos Campeões da UEFA de...
1,2,Juventus,36,15,11,3,1,23,9,+14,Fase de Grupos da Liga dos Campeões da UEFA de...
2,3,Milan,29,15,9,2,4,26,18,+8,Fase de Grupos da Liga dos Campeões da UEFA de...
3,4,Roma,25,15,7,4,4,28,17,+11,Fase de Grupos da Liga dos Campeões da UEFA de...
4,5,Bologna,25,15,6,7,2,19,13,+6,Fase de Grupos da Liga Europa da UEFA de 2024–25
5,6,Napoli,24,15,7,3,5,26,18,+8,Play-off da Liga Conferência Europa de 2024–25
6,7,Fiorentina,24,15,7,3,5,23,17,+6,NaN
7,8,Atalanta,23,15,7,2,6,22,18,+4,NaN
8,9,Monza,21,15,5,6,4,17,14,+3,NaN
9,10,Lazio,21,15,6,3,6,16,16,0,NaN
10,11,Torino,20,15,5,5,5,13,16,−3,NaN
11,12,Frosinone,19,15,5,4,6,19,23,−4,NaN
12,13,Lecce,16,14,3,7,4,16,19,−3,NaN
13,14,Sassuolo,15,14,4,3,7,21,26,−5,NaN
14,15,Genoa,15,15,4,3,8,16,21,−5,NaN
15,16,Udinese,12,15,1,9,5,12,25,−13,NaN
16,17,Hellas Verona,11,15,2,5,8,13,22,−9,NaN
17,18,Empoli,11,14,3,2,9,9,27,−18,Rebaixado à Série B de 2024–25
18,19,Cagliari,10,14,2,4,8,13,26,−13,Rebaixado à Série B de 2024–25
19,20,Salernitana,8,15,1,5,9,11,30,−19,Rebaixado à Série B de 2024–25

,Casa \ Fora,ATA,BOL,CAG,EMP,FIO,FRO,GEN,VER,INT,...,LAZ,LEC,MIL,MON,NAP,ROM,SAL,SAS,TOR,UDI
0,Atalanta,—,NaN,2–0,3–0,NaN,NaN,2–0,NaN,1–2,...,NaN,NaN,3–2,3–0,1–2,NaN,NaN,NaN,NaN,NaN
1,Bologna,NaN,—,2–1,3–0,NaN,2–1,NaN,NaN,NaN,...,1–0,NaN,0–2,NaN,0–0,NaN,NaN,NaN,2–0,NaN
2,Cagliari,NaN,NaN,—,NaN,NaN,4–3,2–1,NaN,0–2,...,NaN,NaN,1–3,1–1,NaN,1–4,NaN,NaN,NaN,0–0
3,Empoli,NaN,NaN,NaN,—,NaN,NaN,NaN,0–1,0–1,...,NaN,NaN,NaN,NaN,NaN,NaN,1–0,3–4,NaN,0–0
4,Fiorentina,3–2,2–1,3–0,0–2,—,NaN,NaN,NaN,NaN,...,NaN,2–2,NaN,NaN,NaN,NaN,3–0,NaN,NaN,NaN
5,Frosinone,2–1,NaN,NaN,2–1,1–1,—,2–1,2–1,NaN,...,NaN,NaN,NaN,NaN,1–3,NaN,NaN,4–2,0–0,NaN
6,Genoa,NaN,NaN,NaN,1–1,1–4,NaN,—,1–0,NaN,...,NaN,NaN,0–1,NaN,2–2,4–1,1–0,NaN,NaN,NaN
7,Hellas Verona,0–1,0–0,NaN,NaN,NaN,NaN,NaN,—,NaN,...,1–1,2–2,NaN,1–3,1–3,2–1,NaN,NaN,NaN,NaN
8,Internazionale,NaN,2–2,NaN,NaN,4–0,2–0,NaN,NaN,—,...,NaN,NaN,5–1,2–0,NaN,1–0,NaN,1–2,NaN,4–0
9,Juventus,NaN,1–1,2–1,NaN,NaN,NaN,NaN,1–0,1–1,...,3–1,1–0,a,NaN,1–0,NaN,NaN,NaN,2–0,NaN
10,Lazio,3–2,NaN,1–0,NaN,1–0,NaN,0–1,NaN,NaN,...,—,NaN,NaN,1–1,NaN,0–0,NaN,NaN,2–0,NaN
11,Lecce,NaN,1–1,NaN,NaN,NaN,NaN,1–0,NaN,NaN,...,2–1,—,2–2,NaN,0–4,NaN,2–0,1–1,0–1,NaN
12,Milan,NaN,NaN,NaN,NaN,1–0,3–1,NaN,1–0,a,...,2–0,NaN,—,NaN,NaN,NaN,NaN,NaN,4–1,0–1
13,Monza,NaN,0–0,NaN,2–0,NaN,NaN,1–0,NaN,NaN,...,NaN,1–1,NaN,—,NaN,NaN,3–0,NaN,1–1,1–1
14,Napoli,NaN,NaN,NaN,0–1,1–3,NaN,NaN,NaN,0–3,...,1–2,NaN,2–2,NaN,—,NaN,NaN,2–0,NaN,4–1
15,Roma,NaN,NaN,NaN,7–0,1–1,2–0,NaN,NaN,NaN,...,a,2–1,1–2,1–0,NaN,—,2–2,NaN,NaN,3–1
16,Salernitana,NaN,1–2,2–2,NaN,NaN,1–1,NaN,NaN,0–4,...,2–1,NaN,NaN,NaN,0–2,NaN,—,NaN,0–3,1–1
17,Sassuolo,0–2,1–1,NaN,NaN,NaN,NaN,NaN,3–1,NaN,...,0–2,NaN,NaN,0–1,NaN,1–2,2–2,—,NaN,NaN
18,Torino,3–0,NaN,0–0,NaN,NaN,NaN,1–0,0–0,0–3,...,NaN,NaN,NaN,NaN,NaN,1–1,NaN,2–1,—,NaN
19,Udinese,1–1,NaN,NaN,NaN,0–2,0–0,2–2,3–3,NaN,...,NaN,1–1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,—

In [46]:
name_teams = list(games_list["Casa \ Fora"])
tag_teams = list(games_list.columns)
tag_teams.pop(0)
print(name_teams)
print(tag_teams)

name_tag_teams = dict(zip(tag_teams, name_teams))
display(name_tag_teams)

['Atalanta', 'Bologna', 'Cagliari', 'Empoli', 'Fiorentina', 'Frosinone', 'Genoa', 'Hellas Verona', 'Internazionale', 'Juventus', 'Lazio', 'Lecce', 'Milan', 'Monza', 'Napoli', 'Roma', 'Salernitana', 'Sassuolo', 'Torino', 'Udinese']
['ATA', 'BOL', 'CAG', 'EMP', 'FIO', 'FRO', 'GEN', 'VER', 'INT', 'JUV', 'LAZ', 'LEC', 'MIL', 'MON', 'NAP', 'ROM', 'SAL', 'SAS', 'TOR', 'UDI']

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
C:\Users\stiag\AppData\Local\Temp\ipykernel_9496\3058315042.py:1: SyntaxWarning: invalid escape sequence '\ '
  name_teams = list(games_list["Casa \ Fora"])

{'ATA': 'Atalanta',
 'BOL': 'Bologna',
 'CAG': 'Cagliari',
 'EMP': 'Empoli',
 'FIO': 'Fiorentina',
 'FRO': 'Frosinone',
 'GEN': 'Genoa',
 'VER': 'Hellas Verona',
 'INT': 'Internazionale',
 'JUV': 'Juventus',
 'LAZ': 'Lazio',
 'LEC': 'Lecce',
 'MIL': 'Milan',
 'MON': 'Monza',
 'NAP': 'Napoli',
 'ROM': 'Roma',
 'SAL': 'Salernitana',
 'SAS': 'Sassuolo',
 'TOR': 'Torino',
 'UDI': 'Udinese'}

In [47]:
n_games_list = games_list.set_index("Casa \ Fora")
n_games_list = n_games_list.unstack().reset_index()
n_games_list = n_games_list.rename(columns={"Casa \ Fora":"Casa ","level_0":"Fora",0:"Resultado"})

def change_tags(line):
    tag = line["Fora"]
    name = name_tag_teams[tag]
    return name

n_games_list["Fora"] = n_games_list.apply(change_tags, axis=1)

n_games_list = n_games_list[n_games_list["Fora"]!= n_games_list["Casa "]]

display(n_games_list)

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:3: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:3: SyntaxWarning: invalid escape sequence '\ '
C:\Users\stiag\AppData\Local\Temp\ipykernel_9496\3237846574.py:1: SyntaxWarning: invalid escape sequence '\ '
  n_games_list = games_list.set_index("Casa \ Fora")
C:\Users\stiag\AppData\Local\Temp\ipykernel_9496\3237846574.py:3: SyntaxWarning: invalid escape sequence '\ '
  n_games_list = n_games_list.rename(columns={"Casa \ Fora":"Casa ","level_0":"Fora",0:"Resultado"})

         Fora        Casa  Resultado
1    Atalanta      Bologna       NaN
2    Atalanta     Cagliari       NaN
3    Atalanta       Empoli       NaN
4    Atalanta   Fiorentina       3–2
5    Atalanta    Frosinone       2–1
..        ...          ...       ...
394   Udinese       Napoli       4–1
395   Udinese         Roma       3–1
396   Udinese  Salernitana       1–1
397   Udinese     Sassuolo       NaN
398   Udinese       Torino       NaN

[380 rows x 3 columns]

In [48]:
n_games_list["Resultado"] = n_games_list["Resultado"].fillna("A jogar")

games_played = n_games_list[n_games_list["Resultado"].str.contains("–")]

games_not_played = n_games_list[~n_games_list["Resultado"].str.contains("–")]

display(games_played,games_not_played)

         Fora          Casa  Resultado
4    Atalanta     Fiorentina       3–2
5    Atalanta      Frosinone       2–1
7    Atalanta  Hellas Verona       0–1
10   Atalanta          Lazio       3–2
17   Atalanta       Sassuolo       0–2
..        ...            ...       ...
392   Udinese          Milan       0–1
393   Udinese          Monza       1–1
394   Udinese         Napoli       4–1
395   Udinese           Roma       3–1
396   Udinese    Salernitana       1–1

[148 rows x 3 columns]

         Fora           Casa  Resultado
1    Atalanta         Bologna   A jogar
2    Atalanta        Cagliari   A jogar
3    Atalanta          Empoli   A jogar
6    Atalanta           Genoa   A jogar
8    Atalanta  Internazionale   A jogar
..        ...             ...       ...
389   Udinese        Juventus   A jogar
390   Udinese           Lazio   A jogar
391   Udinese           Lecce   A jogar
397   Udinese        Sassuolo   A jogar
398   Udinese          Torino   A jogar

[232 rows x 3 columns]

In [49]:
games_played[["gols_casa","gols_fora"]] = games_played["Resultado"].str.split("–",expand=True)

games_played = games_played.drop(columns=["Resultado"])

games_played["gols_casa"] = games_played["gols_casa"].astype(int)

games_played["gols_fora"] = games_played["gols_fora"].astype(int)

display(games_played)

C:\Users\stiag\AppData\Local\Temp\ipykernel_9496\1414217455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_played[["gols_casa","gols_fora"]] = games_played["Resultado"].str.split("–",expand=True)
C:\Users\stiag\AppData\Local\Temp\ipykernel_9496\1414217455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_played[["gols_casa","gols_fora"]] = games_played["Resultado"].str.split("–",expand=True)

         Fora          Casa   gols_casa  gols_fora
4    Atalanta     Fiorentina          3          2
5    Atalanta      Frosinone          2          1
7    Atalanta  Hellas Verona          0          1
10   Atalanta          Lazio          3          2
17   Atalanta       Sassuolo          0          2
..        ...            ...        ...        ...
392   Udinese          Milan          0          1
393   Udinese          Monza          1          1
394   Udinese         Napoli          4          1
395   Udinese           Roma          3          1
396   Udinese    Salernitana          1          1

[148 rows x 4 columns]

In [50]:
avg_goals_home = games_played.groupby("Casa ").mean(numeric_only=True)
avg_goals_home = avg_goals_home.rename(columns={"gols_casa":"gols_feitos_casa",
    "gols_fora":"gols_sofridos_casa"})

avg_goals_away = games_played.groupby("Fora").mean(numeric_only=True)
avg_goals_away = avg_goals_away.rename(columns={"gols_fora":"gols_feitos_fora",
    "gols_casa":"gols_sofridos_fora"})
display(avg_goals_away,avg_goals_home)

                gols_sofridos_fora  gols_feitos_fora
Fora
Atalanta                  1.714286          1.285714
Bologna                   1.000000          1.000000
Cagliari                  1.714286          0.571429
Empoli                    2.250000          0.625000
Fiorentina                1.250000          1.375000
Frosinone                 2.000000          0.857143
Genoa                     1.375000          0.625000
Hellas Verona             1.375000          0.750000
Internazionale            0.285714          2.285714
Juventus                  0.714286          1.571429
Lazio                     1.500000          1.000000
Lecce                     1.500000          1.166667
Milan                     1.750000          1.875000
Monza                     1.285714          0.857143
Napoli                    0.750000          2.000000
Roma                      1.428571          1.285714
Salernitana               2.000000          0.571429
Sassuolo                  2.166667          1.666667
Torino                    1.375000          0.750000
Udinese                   1.625000          0.625000

                gols_feitos_casa  gols_sofridos_casa
Casa
Atalanta                1.875000            0.750000
Bologna                 1.428571            0.571429
Cagliari                1.285714            2.000000
Empoli                  0.666667            1.333333
Fiorentina              1.857143            1.142857
Frosinone               1.750000            1.250000
Genoa                   1.428571            1.285714
Hellas Verona           1.000000            1.571429
Internazionale          2.625000            0.625000
Juventus                1.500000            0.500000
Lazio                   1.142857            0.571429
Lecce                   1.125000            1.250000
Milan                   1.571429            0.571429
Monza                   1.250000            0.625000
Napoli                  1.428571            1.714286
Roma                    2.375000            0.875000
Salernitana             0.875000            2.000000
Sassuolo                1.375000            1.625000
Torino                  1.000000            0.714286
Udinese                 1.000000            1.714286

In [51]:
statistc_table = avg_goals_home.merge(avg_goals_away,left_index=True,
    right_index=True)

statistc_table = statistc_table.reset_index()

statistc_table = statistc_table.rename(columns={"Casa ": "Times"})



display(statistc_table[["Times","gols_feitos_casa","gols_feitos_fora",
    "gols_sofridos_casa","gols_sofridos_fora"]])

,Times,gols_feitos_casa,gols_feitos_fora,gols_sofridos_casa,gols_sofridos_fora
0,Atalanta,1.875000,1.285714,0.750000,1.714286
1,Bologna,1.428571,1.000000,0.571429,1.000000
2,Cagliari,1.285714,0.571429,2.000000,1.714286
3,Empoli,0.666667,0.625000,1.333333,2.250000
4,Fiorentina,1.857143,1.375000,1.142857,1.250000
5,Frosinone,1.750000,0.857143,1.250000,2.000000
6,Genoa,1.428571,0.625000,1.285714,1.375000
7,Hellas Verona,1.000000,0.750000,1.571429,1.375000
8,Internazionale,2.625000,2.285714,0.625000,0.285714
9,Juventus,1.500000,1.571429,0.500000,0.714286
10,Lazio,1.142857,1.000000,0.571429,1.500000
11,Lecce,1.125000,1.166667,1.250000,1.500000
12,Milan,1.571429,1.875000,0.571429,1.750000
13,Monza,1.250000,0.857143,0.625000,1.285714
14,Napoli,1.428571,2.000000,1.714286,0.750000
15,Roma,2.375000,1.285714,0.875000,1.428571
16,Salernitana,0.875000,0.571429,2.000000,2.000000
17,Sassuolo,1.375000,1.666667,1.625000,2.166667
18,Torino,1.000000,0.750000,0.714286,1.375000
19,Udinese,1.000000,0.625000,1.714286,1.625000

In [52]:
from scipy.stats import poisson

def calculate_points(line):

    home_team = line['Casa ']
    away_team = line['Fora']

    lambda_home_team = statistc_table.loc[statistc_table['Times']==home_team,
        'gols_feitos_casa'].iloc[0] * statistc_table.loc[statistc_table['Times']==away_team,
            'gols_sofridos_fora'].iloc[0]

    lambda_away_team = statistc_table.loc[statistc_table['Times']==away_team,
        'gols_feitos_fora'].iloc[0] * statistc_table.loc[statistc_table['Times']==home_team,
            'gols_sofridos_casa'].iloc[0]

    prob_win_home = 0
    prob_draw = 0
    prob_win_away = 0

    for goals_home in range(8):
        for goals_away in range(8):
            prob_result = (poisson.pmf(goals_home,lambda_home_team) 
                * poisson.pmf(goals_away,lambda_away_team))
            if goals_home == goals_away:
                prob_draw += prob_result
            elif goals_home > goals_away:
                prob_win_home += prob_result
            elif goals_home < goals_away:
                prob_win_away += prob_result

    result_home = prob_win_home * 3 + prob_draw
    result_away = prob_win_away * 3 + prob_draw
    line['Pontos_casa'] = result_home
    line['Pontos_fora'] = result_away
    
    return line

In [53]:
games_not_played = games_not_played.apply(calculate_points,axis=1)
display(games_not_played)

         Fora           Casa  Resultado  Pontos_casa  Pontos_fora
1    Atalanta         Bologna   A jogar     2.398592     0.433089
2    Atalanta        Cagliari   A jogar     1.206204     1.587068
3    Atalanta          Empoli   A jogar     1.000324     1.759715
6    Atalanta           Genoa   A jogar     1.839544     0.957353
8    Atalanta  Internazionale   A jogar     2.576272     0.116499
..        ...             ...       ...          ...          ...
389   Udinese        Juventus   A jogar     2.644485     0.221817
390   Udinese           Lazio   A jogar     2.419204     0.384120
391   Udinese           Lecce   A jogar     2.088229     0.687194
397   Udinese        Sassuolo   A jogar     2.132395     0.669824
398   Udinese          Torino   A jogar     2.235379     0.528362

[232 rows x 5 columns]

In [54]:
leaderboard_update = leaderboard[['Equipe','Pts']]
leaderboard_update['Pts'] = leaderboard_update['Pts'].astype(int)

display(leaderboard_update)

C:\Users\stiag\AppData\Local\Temp\ipykernel_9496\3169021713.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  leaderboard_update['Pts'] = leaderboard_update['Pts'].astype(int)

            Equipe  Pts
0   Internazionale   38
1         Juventus   36
2            Milan   29
3             Roma   25
4          Bologna   25
5           Napoli   24
6       Fiorentina   24
7         Atalanta   23
8            Monza   21
9            Lazio   21
10          Torino   20
11       Frosinone   19
12           Lecce   16
13        Sassuolo   15
14           Genoa   15
15         Udinese   12
16   Hellas Verona   11
17          Empoli   11
18        Cagliari   10
19     Salernitana    8

In [55]:
points_home = (games_not_played.groupby('Casa ').sum(numeric_only=True)
    [['Pontos_casa']])

points_away = (games_not_played.groupby('Fora').sum(numeric_only=True)
    [['Pontos_fora']])

display(points_home,points_away)

                Pontos_casa
Casa
Atalanta          27.222783
Bologna           26.049478
Cagliari          14.730935
Empoli            13.403381
Fiorentina        24.105262
Frosinone         20.488636
Genoa             20.713518
Hellas Verona     16.266721
Internazionale    27.286125
Juventus          27.702990
Lazio             23.503988
Lecce             17.168366
Milan             27.024186
Monza             21.682981
Napoli            19.973327
Roma              23.865713
Salernitana        9.554933
Sassuolo          16.842402
Torino            21.808373
Udinese           13.821507

                Pontos_fora
Fora
Atalanta          10.839364
Bologna           13.252074
Cagliari           5.840585
Empoli             4.442614
Fiorentina        15.545373
Frosinone          6.541887
Genoa              7.017999
Hellas Verona      7.263910
Internazionale    29.620505
Juventus          22.153351
Lazio              8.709983
Lecce             12.777266
Milan             15.397365
Monza             11.430014
Napoli            20.825813
Roma              13.173696
Salernitana        3.880728
Sassuolo          10.985083
Torino             8.957279
Udinese            5.027192

In [56]:
def update_points(line):
    teams = line['Equipe']
    points = (line['Pts'] + points_home.loc[teams,'Pontos_casa'] 
              + points_away.loc[teams,'Pontos_fora'])
    return points

leaderboard_update['Pts'] = leaderboard_update.apply(update_points,axis=1)
leaderboard_update.index += 1
leaderboard_update = leaderboard_update.sort_values(by="Pts",ascending=False)
leaderboard_update = leaderboard_update.reset_index(drop=True)

display(leaderboard_update)

C:\Users\stiag\AppData\Local\Temp\ipykernel_9496\1812398494.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  leaderboard_update['Pts'] = leaderboard_update.apply(update_points,axis=1)

            Equipe        Pts
0   Internazionale  94.906630
1         Juventus  85.856341
2            Milan  71.421552
3           Napoli  64.799139
4          Bologna  64.301552
5       Fiorentina  63.650636
6             Roma  62.039410
7         Atalanta  61.062147
8            Monza  54.112995
9            Lazio  53.213971
10          Torino  50.765652
11       Frosinone  46.030523
12           Lecce  45.945632
13        Sassuolo  42.827485
14           Genoa  42.731518
15   Hellas Verona  34.530631
16         Udinese  30.848699
17        Cagliari  30.571520
18          Empoli  28.845996
19     Salernitana  21.435660